.header{
    align-items: flex-start;
    background-image: url('../../images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 50vh;
    justify-content: space-between;
    padding: 3rem 5rem 0 5rem;
}

.menu{
    align-items: center;
    display: flex;
}

.menu__item{
    color: aliceblue;
    margin-left: 2rem;
}