.projects{
    background: white;
    border-radius: 1rem;
    padding: 0.5rem 0;
    width:50%;
}

.projects__title{
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 2rem;
}

.projects__para{
    color: var(--dark-gray);
    line-height: 1.5rem;
    padding: 0 2rem 2rem 2rem;
}

.project{
    border: 1px solid var(--very-light-dark-gray);
    border-radius: 0.3rem;
    margin: 2rem;
    padding: 1.5rem;
}

.project__top{
    display: flex;
    justify-content: space-between;
}

.project__title{
    color: var(--black);
    font-weight: 700;
}

.project__price{
    color: var(--moderate-cyan);
    font-weight: 500;
}

.project__para{
    color: var(--dark-gray);
    line-height: 1.5rem;
    padding: 1rem 0;
}

.project__bottom{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.project__left{
    align-items: flex-start;
    font-size: 2rem;
    font-weight: 700;
}

.project__left span{
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 300;
}

.project__button{
    background: var(--moderate-cyan);
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
}

.project__button:hover{
    background: var(--dark-cyan);
}

.project__button__none{
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    background: var(--very-light-dark-gray);
    padding: 0.8rem 1.2rem;
}